/*

@font-face {
	font-family: "aMavickFont";
	src: url("../fonts/aMavickFont.ttf") format("truetype");
}

font-family: "aMavickFont", sans-serif;
 
*/

@font-face {
	font-family: "BebasNeueRegular";
	src: url("../fonts/BebasNeueRegular.otf") format("truetype");
}

* {
  box-sizing: border-box;
	border: 0px solid black;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, p, ul {
	margin: 0;
	padding: 0;
}

img {
  vertical-align: bottom;
}

.container {
	width: 100%;
	max-width: 970px;

	margin: 0 auto;
	padding: 0 15px;
}

/* header */

.header {
	height: 100vh;
  
  padding-top: 1px;
	
	background: url("../img/headbg.jpg") no-repeat;
	background-size: cover;
  background-position: center;
}

.header-inner {
  max-width: 1150px;
  margin: 10% auto 16%;
}

h1 { 
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 90px;
  color: #ffffff;
  text-transform: uppercase;
}

h2 {
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

/* menu */

.menu {
  min-height: 100px;
  
	background: #252222;
}

.menu .container {
  padding: 19px 0;
}

h3 {
  float: left;
  
  margin-left: 15px;
  margin-right: 35px;
  
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-inner {
  float: right;
  
  margin-right: 15px;
}

.main-menu {
  float: left;
  
  margin-right: 30px;
  
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  
  list-style-type: none;
}

.main-menu li {
  display: inline-block;
  
  margin-right: 20px;
  padding: 15px 0px 15px 0px;
}

.main-menu a {
  padding: 15px 5px 15px 5px;
  
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
}

.main-menu a:hover {
  border-bottom: 2px solid #65ba99;
  
  color: #65ba99;
  text-decoration: none;
	
	transition: 0.4s;
}

.main-menu a.active {
  border-bottom: 2px solid #65ba99;
  
  color: #65ba99;
}

.socials {
  float: right;
  
  list-style-type: none;
}

.socials li {
  display: inline-block;
  
  margin-left: 5px;
  padding: 12px 0 0 0;
  
  vertical-align: middle;
}

.socials a {
  display: block;
  width: 38px;
  height: 38px;
  
  font-size: 0px;
  
  list-style-type: none;
}

.socials .fb {
  background: url("../img/socials.png") no-repeat;
  background-position: -6px -5px;
}

.socials .vk {
  background: url("../img/socials.png") no-repeat;
  background-position: -94px -5px;
}

.socials .in {
  background: url("../img/socials.png") no-repeat;
  background-position: -6px -137px;
}

.socials a {
  display: block;
  width: 38px;
  height: 38px;
  
  font-size: 0px;
  
  list-style-type: none;
}

/*

.socials .fb:hover {
  background: url("../img/socials_hr.png") no-repeat;
  background-position: -6px -5px;
}

.socials .vk:hover {
  background: url("../img/socials_hr.png") no-repeat;
  background-position: -94px -5px;
}

.socials .in:hover {
  background: url("../img/socials_hr.png") no-repeat;
  background-position: -6px -137px;
}

*/

.socials .fb:hover,
.socials .vk:hover,
.socials .in:hover {
  opacity: 0.8;
	transition: 0.2s;
}

/* portfolio */

.portfolio {
  min-height: 1840px;
	padding-top: 1px;
  
	background: #65ba99;
}

h4 {
	margin: 45px 0;
	
	font-family: "BebasNeueRegular", sans-serif;
  font-size: 48px;
  color: #ffffff;
	text-align: center;
  text-transform: uppercase;
}

.my-photos-style {	
	display: block;

	font-family: "BebasNeueRegular", sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.gallery img {
	margin-right: -5px;
}

.gallery img:hover {
	cursor: pointer;
	opacity: 0.8;
	transform: scale(1.1);
	transition: 0.5s;
}

/* promo */

.promo {
  min-height: 300px;
  
	background: url("../img/promobg.jpg") no-repeat;
	background-size: cover;
  background-position: center;
}

/* projects */

.projects {
  min-height: 680px;
  
	background: #cdcdcd;
}

/* partners */

.partners {
  min-height: 200px;
  
	background: #bebebe;
}

/* bio */

.bio {
  min-height: 600px;
  
	background: #e2534b;
}

/* contacts */

.contacts {
  min-height: 530px;
  
	background: url("../img/contactbg.jpg") no-repeat;
	background-size: cover;
  background-position: center;
}

/* footer */